 .bali-slider > .image{
	height:350px;
}
.bali-slider >img{
	width:100%;
	height:350px;
	object-fit:cover;
}
.bali-slider > .ribbon >  p{
	position:absolute;
	top:100px;
	background-color:#ffb307;
	width:100px;
	font-family: 'Microsoft Sans Serif';
	font-size:14px;
	padding:5px 5px 10px 5px;
	color:white;
	text-align:center;
	margin-left:50px;
}
.bali-slider > .bali-island > h1{
	font-size: 45px;
    text-align: center;
    letter-spacing: 1px;
	text-shadow: 3px 0px 2px black;
}
.bali-slider > .bali-island > h2{
	font-size: 35px;
    font-weight: 400;
    text-align: center;
}
.bali-slider > .bali-island{
	position:absolute;
	top:180px;
	left:calc(50% - 726px / 2);
    color: white;
}
.curve > img{
	position: absolute;
    margin-top: -50px;
}
.details{
	display:flex;
	justify-content:space-around;
	line-height:1.60;
}
.details  > .left {
	width:48%;
}
.details  > .left > .overview > h2{
	color:#ffb307;
	font-size:20px;
	letter-spacing:0.8px;
}
.details  > .left > .overview > p{
	text-align:justify;
	font-weight:500;
	color:#00000099;
}
.details  > .left > .highlights{
	margin-top:10px;
}
.details  > .left > .highlights > h2{
	color:#ffb307;
	font-size:20px;
	letter-spacing:0.8px;
}
.details  > .left > .highlights > ul{
	margin-top:10px;
	list-style-type:none;
	list-style-position:outside;
	list-style-image:url("images/icon-bullet.png");
	margin-left:20px;
	line-height:1.50;
}
.details > .right{
	width:31%;
}
.details > .right > .inclusion > h2{
	color:#ffb307;
	font-size:22px;
	letter-spacing:0.8px;
}
.details > .right > .inclusion > ul{
	margin-top:10px;
	list-style-type:none;
	list-style-position:outside;
	list-style-image:url("images/icon-bullet.png");
	margin-left:20px;
	line-height:1.50;
}
.details > .right > .exclusion{
	margin-top:15px;
}
.details > .right > .exclusion > h2{
	color:#ffb307;
	font-size:22px;
	letter-spacing:0.8px;
}
.details > .right > .exclusion > ul{
	margin-top:10px;
	list-style-type:none;
	list-style-position:outside;
	margin-left:20px;
	line-height:1.50;
}
.details > .right > .price-details{
	width:350px;
	height:120px;
	background-color:#ffb307;
	border-radius:5px;
	margin-top:15px;
	line-height:1.85;
}
.details > .right > .price-details > h2{
	color:white;
	font-size:23px;
	letter-spacing:0.8px;
	text-align:center;
}
.details > .right > .price-details > .p1{
	font-weight:700;
	font-size:18px;
	text-align:center;
}
.details > .right > .price-details > .p2{
	font-weight:700;
	font-size:15px;
	color:white;
	text-align:center;
}
.experience{
	background-color:#F2F3F9;
	padding-top:20px;
	margin-top:20px;
}
.experience > .heading > h2{
	text-align:center;
	color:#ffb307;
	font-size:40px;
	font-weight:normal;
	letter-spacing:0.8px;
}
.experience > .line{
	border:2px solid #ffb470;
	width:100px;
	margin:15px auto;
}
.experience > .images{
	display:flex;
	justify-content:space-evenly;
}
.experience > .images > .img1 > a > img{
	width:240px;
	height:215px;
	border:7px solid white;
	border-radius:50%;
	margin-left:30px;
}
.experience > .images > .img1 > div > a{
	text-decoration:none;
	color:black;
}
.experience > .images > .img1 > div > a:hover{
	color:cornflowerblue;
}
.experience > .images > .img1 > div > a > p{
	width:310px;
	text-align:center;
	margin-top:6px;
	font-size:16px;
	font-weight:700;
}
.experience > .dot{
	display:flex;
	justify-content:center;
}
.experience > .dot > div{
	width:10px;
	height:10px;
	background-color:#a3a3a3;
	border-radius:50%;
	margin:25px 4px 10px 4px;
}
.enquire > .heading > h2{
	text-align:center;
	color:#ffb307;
	font-size:40px;
	font-weight:500;
	letter-spacing:0.8px;
	padding:10px;
}
.enquire > .contact-container{
	display:flex;
	justify-content:space-evenly;
	margin-top:50px;
}
.enquire > .contact-container > .form > form > input{
    padding: 10px 350px 10px 10px;
	border-radius: 15px;
	border:1px solid #ededed;
	margin:5px;
}
.enquire > .contact-container > .form > form > input[type="submit"]{
	padding:8px 30px 8px 30px;
	margin-left:220px;
	background-color:#ffb307;
	border:none;
	color:white;
	font-size:17px;
	font-weight:600;
}
.enquire > .contact-container > .form > form > input[type="submit"]:hover{
	background-color:#9b6eeb;
	cursor:pointer;
}
.enquire > .contact-container > .form > form > input::placeholder{
	font-size:14px;
	width:200px;
}
.enquire > .contact-container > .form > form > input:focus{
	outline:none;
	box-shadow:0px 5px 5px #ededed;
}
.enquire > .contact-container > .contact{
	margin-top:80px;
	line-height:1.55;
}
.enquire > .contact-container > .contact > h2{
	text-align:center;
	color:#ffb307;
	font-size:40px;
	font-weight:500;
	letter-spacing:0.8px;
	padding:10px;
	margin-right:150px;
}
.enquire > .contact-container > .contact > p{
	text-align: center;
    font-size: 24px;
    font-weight: normal;
	margin-right:150px;
}
footer > .info > .form > form > input[type="text"],footer > .info > .form > form > input[type="email"],footer > .info > .form > form > input[type="submit"]{
	border-radius:21px;
	border:none;
}
footer > .info > .form > form > input[type="text"]:focus,footer > .info > .form > form > input[type="email"]:focus{
	outline:none;
	box-shadow:0px 5px 0.3px rgb(0,0,0,0.1);
	border:none;
}